[user]
	email = dossantosgabrielb@gmail.com
	name = briones-gabriel
[alias]
    a  = add
    s  = status
    b  = branch
    c  = commit
    co = checkout
    pl = pull
    ps = push
[core]
	editor = nvim
